-var heads = ["首页", "轻松时刻", "智慧空间"]
-var footer_words = "祝面试成功！加勒个油！！！"

doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
  body
    #header
      block header
        .container(role="navigation")
          ul.nav.nav-tabs
            -each val, index in heads
              li(role="presentation") 
                if index == 0
                  a.active(href="#") #{val}
                else
                  a(href="#") #{val}
            div.auth
              a.btn.btn-primary(href="/users/login") 登录
              &nbsp;
              a.btn.btn-default(href="/users/register") 注册

    #alert
      if err
        .alert.alert-warning.container(role="alert") #{err}

    #content.container
      block content

    #footer
      block footer
        p #{footer_words}

    block script
      script(src="/js/min/jquery-1.11.2.min.js")
      script(src="/js/min/bootstrap.min.js")
      script(src="/js/min/avalon.min.js")
      script(src="/js/min/nodeblog.min.js")
